* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
rem => Toma el valor del elemento root, que sería el elemento "html"

Se recomienda utilizar dependiendo del navegador:
Chrome: 62.5% donde 1.6rem equivale a 16px
*/

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}

main div {
    font-size: 1.6rem;
}