* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
}

header {
    padding: 15px;
    height: 15vh; 
}

nav {
    width: 100%;
    height: 100%; 
    padding: inherit;
    border: 1px blue dashed;
    border-radius: 5px;
    margin: 0 auto;
}

.container {
    width: 100%; 
    height: 85vh;
    padding: 15px;  
    display: inline-block; 
}

.container aside {
    display: inline-block;
    padding: 15px;
    height: 100%; 
    width: 20%;
    border: 1px green dashed;
    border-radius: 5px;
}

.container main {
    display: inline-block;
}
 
.container main section {
    display: inline-block;
    padding: 15px;
    height: 80%; 
    width: 20%;
    border: 1px green dashed;
    border-radius: 5px;
}
 